 body{
    font-family: 'Poppins', sans-serif;
 }

 /* Top part section start */ 
 .container{
     background-color: #2D25A0;
     display: flex;
 }
 .fas{
     color: #FFFFFF;
 }
.top-part{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-banner h1{
    margin-bottom: 10px;
}
.banner-text{
    padding-left: 156px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 30px;
}
.banner-part img{
        width: 555px;
        height: 438px;
    }
     
.top-banner button {
    background-color: #E02C6D; 
    width: 168px;
    height: 44px;
    margin-left: 156px;
    margin-top: 38px;
    background-color: coral;
    transition: width 1s, height 1s, transform 1s;
}
.live-button{
    width: 88px;
    height: 24px;
    color: aliceblue;
    padding: 10px;
    margin: 0px 6px;
    font-size: 12px;
}
.top-banner button:hover{

    border: 5px solid cornflowerblue ;
    transform: rotate(360deg);
}
.top-banner button a{
    text-decoration: none;
}

.banner-part{
    padding: 10px;

}
.banner-part img{
    width: 556px;
    height: 438px;
}

 /* Top part section section end */ 

 /* players section start */ 
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap:30px;
    margin: 50px;
}

.players img{
    width: 300px;
    height: 256px;
    margin: 16px;
    
}

.player-detail{
    color: #6C6C6C;
    font-size: 16px;
    padding: 0px 20px 20px;
}
/*players section end */ 



 /* Bouns part section start */
 .services-info h2, .services-info p{
    padding-bottom: 20px;
    text-align: center;
    width: 40%;
    margin: auto;
}
.service-details{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
    height: auto;
}
#service-section .services{
    width: 80%;
    margin: 20px 20px;
    height: auto;
    border-radius: 10px;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 10px 5px 10px 10px gainsboro;
}
.services img{
    width: 80%;
    height: auto;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 20px;
    height: auto;
}
.service-title{
    font-size: 20px;
    padding-left: 10px;
    font-weight: 800;
}
.services-info{
    font-style: italic;
    padding-left: 15px;
    justify-content: space-between;
}
 /* Bouns part section end */

 /* Footer section start */
 .footer-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    margin-top: 25px;
    font-size: 18px;
}
footer img{
    width: 50%;
    margin-left: 20%;
       
}

footer i{
    font-size: 32px;
    color: gray;
    background-color: gainsboro;
    border-radius: 50px;
    padding: 5px;
    margin-right: 15px;
}
 /* Footer section end */ 

 /* Mobile Devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .top-part, .players-information, .service-section, .footer{
        grid-template-columns: repeat(2, 1fr);
        margin: 0px;
		padding: 0px;
		justify-content: center;
    }
    .top-part, .players-information{
        flex-direction: column;
    }
}

